NOTE: original path is different of course
Original path: /etc/systemd/system/dummy.service

[Unit]
Description=Dummy long-running logging service
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/dummy.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
